*{
    margin: 5;
    padding: 5;
}
.navbar{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    margin: -5px;
    padding: -5px;
}
.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 20px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
}